.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8f9fa;
}

.action-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  /*width: 100%;*/
}

.color-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
  justify-content:center;
  padding-right: 20px;
}

.grid-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-dimensions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-left: 20px;
}

img[alt="Image de chiffre deux"] {
    width: 20%;
    height: auto;
    display: block;
    margin: 10px auto;
}
